/*--------------------------------------------------------------
# Homepage
--------------------------------------------------------------*/

/* Hero Image */
.home {
    .content-area {
        padding-top: 0;
    }
}

.homepage-hero-wraper{
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../images/home-hero.jpg) no-repeat top;
    background-size: cover;

}

.homepage-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 275px;
    width: 275px;
}


/* Shop Section */
.shop {
    margin-bottom: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-stuff {
    display: flex;
}

.categories {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    flex: 0 1 23.5%;
    max-width: 23.5%;
    padding: .75rem;
    &:hover {
        border: 1px solid #d99054;
        border-top-width: 5px;
    }
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: .75rem;
    background-color: #248A83;
    &:hover {
        background-color: #21759b;
    }
    a {
        padding: 10px 30px;
        color: #ffffff;
        font-family: Novecento Sans Web, sans-serif;
        text-transform: uppercase;
    }
}

.product-logo {
    width: 70px;
    height: 70px;
}


/* Journal Section */
.blog-posts {
    margin-bottom: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.journal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.posts {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    .post {
        border: 1px solid #e1e1e1;
        flex: 0 1 32%;
        position: relative;
        .post-picture {
            background-color: #e1e1e1;
            height: 250px;
            overflow: hidden;
            position: relative;
        }
        .post-info {
            flex-direction: column;
            justify-content: space-between;
            padding: .75rem;
            .title {
                font-size: .75rem;
                h3 {
                    font-size: 1.3rem;
                    margin-bottom: 3.75rem;
                    a {
                        color: #248a83;
                        &:hover{
                            color: #2f1339;
                        }
                    }
                }
            }
            .read-more {
                position: absolute;
                bottom: .75rem;
                left: .75rem;
                border: 1px solid #000;
                color: #000;
                padding: .75rem 1.5rem;
                &:hover {
                    color: #ffffff;
                    background-color: #248a83;
                    border: 1px solid #248a83;
                }
            }
        }
    }
}

.post-picture {
    width: 100%;
    img {
        height: auto;
        min-width: 100%;
    }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.page-about {
    .site-content {
        padding-top: 0;
        .content-area {
            padding-top: 0;
        }
    }
}

.about-header {
    display: none;
}

.entry-title {
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}

.wp-block-group {
    display: flex;
    justify-content: center;
    
    .wp-block-group__inner-container {
        width: 53%;
    }
}

/*--------------------------------------------------------------
# Journal
--------------------------------------------------------------*/

.entry-content {
    .read-more {
        bottom: .75rem;
        border: 1px solid #000;
        color: #000;
        padding: .75rem 1.5rem;
        &:hover {
            color: #ffffff;
            background-color: #248a83;
            border: 1px solid #248a83;
        }
    }
}

.entry-title {
    .title:hover {
        color: #f0e4d1;
    }
}

.single {	
	.entry-title {
		background-color: #248a83;
		color: #fff;
		font-size: 2.1rem;
		left: 0;
		padding: .75rem 1.5rem;
		position: absolute;
		margin-top: 2.25rem;
		max-width: 75%;
		top: 0;
		line-height: 1.25;
		
		a {
			color: #fff;
		}
	}
}

.comments-title {
    margin-bottom: 0;
}

.comment-list {
    margin-left: 0;
    padding-left: 0;
}

.comment {
    width: 70%;
    padding-top: 1.5rem;
}

.children {
    width: 70%;
}

.comment-list>li {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e1e1e1;
}

.comment article {
    padding-bottom: 1.5rem;
}

.comment-author-avatar {
    border-radius: 50%;
    height: 64px;
    margin-right: 1.5rem;
    overflow: hidden;
    width: 64px;
}

.comment-metadata {
    color: gray;
    margin-bottom: .75rem;
}

.comment-body p {
    margin-bottom: .75rem;
}

.children li {
    width: 70%;
    border-top: 1px solid #e1e1e1;
}

.comment-body {
    display: flex;
}

.comment-reply-title {
    margin-top: 1.5rem;
}


/*--------------------------------------------------------------
# Shop
--------------------------------------------------------------*/
.page-homepage, .page-about, .post-type-archive {
    .site-content, .content-area {
        width: 100vw;;
    }
}
.shop-header {
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;
    text-align: center;
}

.product-type-list {
    display: flex;
    font-family: Novecento Sans Web,sans-serif;
    justify-content: center;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;

    li {
        margin: 0 1.5rem;
    }
}


.shop-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
}
    
.create_product_type {
    border: 1px solid #e1e1e1;
    
    .entry-header {
        background-color: #e1e1e1;
        width: 262px;
        height: 304px;
        overflow: hidden;
        position: relative;

        img {
            height: 250px;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }

        .entry-title {
            bottom: 14px;
            left: 10px;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 1.75;
            text-transform: none;
        }

        p {
            position: absolute;
            bottom: 4px;
            right: 10px;
        }
    }

    .entry-content {
        display: none;
    }
}

.taxonomy-posts {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.tax-product_taxonomy {
    .widget-area {
        display: none;
    }
}

.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .taxonomy-description {
        margin: 2rem auto 3rem;
        max-width: 800px;
        p {
            color: #404040;
            font-family: Merriweather Web,serif;
            font-size: 1rem;
            line-height: 1.75;
            font-weight: normal;
        }
    }
}

/*--------------------------------------------------------------
# Find Us
--------------------------------------------------------------*/
.entry-title {
    margin-top: 0;
}


/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.search-results {
    article {
        margin: 50px auto;
        border: none;

        .page-header {
            display: flex;

            .page-title {
                display: inline;
            }
        }

        .entry-header {
            display: flex;
            background-color: transparent;
            height: auto;
            .entry-title {
                position: compact;
                a {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
        }
    }
}


/*--------------------------------------------------------------
# Single
--------------------------------------------------------------*/
.single-create_product_type {
    main {
        article {
            display: flex;
            justify-content: space-between;
            border: none;
        }
        .single-product-image-wrapper {
            width: 48%;
        }
        .single-product-content-wrapper {
            padding-left: 20px;
            width: 48%;
        }
        .entry-header {
            overflow: visible;
            width: 100%;
            height: auto;
            background-color: transparent;

            .entry-title {
                display: flex;
                padding: 0;
                font-size: 2.5rem;
                color: #d99054;
                position: static;
                background-color: transparent;
            }
        }
        .entry-content {
            padding-top: 0;
            display: block;
        }
        .price {
            font-size: 1.8rem;
        }
        .entry-meta{
            display: none;
        }
    }
}


/*--------------------------------------------------------------
# Archive
--------------------------------------------------------------*/
.archive {
    .taxonomy-posts {
        display: flex;
        article {
            width: 100%;
        }
    }
}


/*--------------------------------------------------------------
# 404
--------------------------------------------------------------*/
.error404{
    .site-content{

        .content-area{
            width: 75%;
            
            .page-content{
                display: flex;
                justify-content: center;
            }
        }
        
        .sidebar{
            padding: 0;
        }
    }
}