/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
    color: #ffffff;
    background-image: url(../../images/dark-wood@2x.png);
    background-size: 35.5%;

    .first-grid-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .widget-area{
        grid-column: 1 / span 2;
        margin-left: 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .widget-title {
        color: #d99054;
    }

    .social-media-icons {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
    }

    .contact {
        display: flex;
        a{
            padding-left: 10px;
        }
    }
    .site-info {
        display: flex;
        justify-content: center;
    }
}